<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>探针信息</title>
    <link rel="stylesheet" href="/s/ace/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/s/ace/assets/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/s/ace/assets/css/jquery-ui-1.10.3.full.min.css"/>
    <link rel="stylesheet" href="/s/ace/assets/css/datepicker.css"/>
    <link rel="stylesheet" href="/s/ace/assets/css/ui.jqgrid.css"/>
    <link rel="stylesheet" href="/s/ace/assets/css/ace.min.css"/>
    <link rel="stylesheet" href="/s/ace/assets/css/ace-rtl.min.css"/>
    <link rel="stylesheet" href="/s/ace/assets/css/ace-skins.min.css"/>
    <link rel="stylesheet" href="/s/css/jquery.datetimepicker.css"/>
    <style>
        .ui-icon-seek-next, .ui-icon-seek-prev, .ui-icon-seek-end, .ui-icon-seek-first {
            display: inline-block;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
        }
        .ui-icon-seek-next:before {
            content: "\f105";
        }
        .ui-icon-seek-prev:before {
            content: "\f104";
        }
        .ui-icon-seek-end:before {
            content: "\f101";
        }
        .ui-icon-seek-first:before {
            content: "\f100";
        }
    </style>
    <script src="/s/ace/assets/js/ace-extra.min.js"></script>
</head>

<body>
<div class="navbar navbar-default" id="navbar">
    <script type="text/javascript">
        try {
            ace.settings.check('navbar', 'fixed')
        } catch (e) {
        }
    </script>
    <div class="navbar-container" id="navbar-container">
        <div class="navbar-header pull-left">
            <a href="#" class="navbar-brand">
                <small>
                    智能WIFI探针管理系统
                </small>
            </a>
        </div>

        <div class="navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
                <li class="light-blue">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle" style="width: 150px;">
								<span class="user-info" style="margin-top: 8px;">
									<small>{{ user.username }}</small>
								</span>
                        <i class="icon-caret-down"></i>
                    </a>
                    <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li>
                            <a href="/logout">
                                <i class="icon-off"></i>退出系统
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <div class="sidebar" id="sidebar">
            <script type="text/javascript">
                try {
                    ace.settings.check('sidebar', 'fixed')
                } catch (e) {
                }
            </script>

            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>
                    <span class="btn btn-info"></span>
                    <span class="btn btn-warning"></span>
                    <span class="btn btn-danger"></span>
                </div>
            </div><!-- #sidebar-shortcuts -->
            <ul class="nav nav-list" style="overflow:auto;height:1000px;">
                <li class="active">
                    <a href="/home" class=""><span class="menu-text">实时数据</span></a>
                </li>
                <li>
                    <a href="/activity" class=""><span class="menu-text">数据汇总</span></a>
                </li>
            </ul>

            <div class="sidebar-collapse" id="sidebar-collapse">
                <i class="icon-double-angle-left" data-icon1="icon-double-angle-left"
                   data-icon2="icon-double-angle-right"></i>
            </div>
            <script type="text/javascript">
                try {
                    ace.settings.check('sidebar', 'collapsed')
                } catch (e) {
                }
            </script>
        </div>
        <div class="main-content">
            <div class="page-content">


                <div class="row">
                    <div class="col-xs-12">
                        <div class="widget-box">
                            <div class="widget-header" style="background: none repeat scroll 0 0 #307ecc;">
                                <h4 style="color: #fff;font-size: 15px;">查询</h4>

                            </div>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <label for="node_label">节点名称:&nbsp;</label>
                                    <select id="node_label" class="ace">
                                        <option value="">请选择...</option>
                                    </select>
                                    &nbsp;&nbsp;&nbsp;
                                    <label for="start_datetime">日期范围:&nbsp;</label>
                                    <input type="text" name="start_datetime" id="start_datetime"
                                           class="ace form_datetime" value=""/>
                                    <label for="end_datetime">~</label>
                                    <input type="text" name="end_datetime" id="end_datetime" class="ace form_datetime"
                                           value=""/>
                                    &nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-sm btn-primary" onclick="toRefresh()">搜索</button>
                                    &nbsp;&nbsp;&nbsp;
                                    <span id="auto_reload_true">
                                        <button class="btn btn-sm btn-success"
                                                onclick="autoReload(true);">开启自动刷新</button>
                                    </span>
                                    <span id="auto_reload_false" style="display: none">
                                        <button class="btn btn-sm btn-warning"
                                                onclick="autoReload(false);">关闭自动刷新</button>
                                        <span class="text text-danger" id="count_down">列表自动刷新中...</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <table id="client_table"></table>
                        <div id="pagination_div"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- basic scripts -->
<script src="/s/ace/assets/js/jquery-2.0.3.min.js"></script>
<script src="/s/ace/assets/js/bootstrap.min.js"></script>
<script src="/s/ace/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
<script src="/s/ace/assets/js/jqGrid/i18n/grid.locale-cn.js"></script>
<script src="/s/ace/assets/js/ace-elements.min.js"></script>
<script src="/s/ace/assets/js/ace.min.js"></script>
<script src="/s/ace/assets/js/bootbox.min.js"></script>
<script src="/s/js/jquery.datetimepicker.full.min.js"></script>
<script>
    $(document).ready(function () {
        $.datetimepicker.setLocale('zh');
        $(".form_datetime").datetimepicker({
            format: "Y-m-d H:i:00"
        });
    });

    function toRefresh() {
        var node_id = $("#node_label").val();
        var start_datetime = $("#start_datetime").val();
        var end_datetime = $("#end_datetime").val();
        var params = "?node_id=" + node_id + "&start_datetime=" + start_datetime + "&end_datetime=" + end_datetime;

        jQuery("#client_table")
            .jqGrid(
                'setGridParam', {
                    url: "/v1/clients" + params,
                })
            .trigger("reloadGrid");
    }

    jQuery(function ($) {
        var grid_selector = "#client_table";
        var pager_selector = "#pagination_div";

        jQuery(grid_selector).jqGrid({
            url: "/v1/clients",
            datatype: "json",
            height: "auto",
            shrinkToFit: true,
            colNames: ['#ID', 'Node_ID', '备注', 'ADDR', 'FROM', 'MODEL', 'RSSI', 'SSID', 'ACTION', 'TIMESTAMP', 'TIME'],
            colModel: [
                {
                    name: 'id',
                    index: 'id'
                },
                {
                    name: 'nodeid',
                    index: 'nodeid',
                    width: 230,
                    formatter: function (cell_val, options, rowdata) {
                        if (rowdata.label == '') {
                            return cell_val;
                        } else {
                            return rowdata.label + ' (' + cell_val + ')';
                        }
                    }
                },
                {
                    name: 'label',
                    index: 'label',
                    width: 80,
                    formatter: function (cell_val, options, rowdata) {
                        if (cell_val == '') {
                            return '<button class="btn btn-xs btn-primary" onclick=add_label(\'' + rowdata.nodeid + '\');>添加备注</button>'
                        } else {
                            return '<button class="btn btn-xs btn-success" onclick=add_label(\'' + rowdata.nodeid + '\');>编辑备注</button>'
                        }
                    }
                },
                {
                    name: 'addr',
                    index: 'addr'
                },
                {
                    name: 'from_field',
                    index: 'from_field'
                },
                {
                    name: 'model',
                    index: 'model'
                },
                {
                    name: 'rssi',
                    index: 'rssi'
                },
                {
                    name: 'ssid',
                    index: 'ssid'
                },
                {
                    name: 'action',
                    index: 'action'
                },
                {
                    name: 'timestamp',
                    index: 'timestamp'
                },
                {
                    name: 'time',
                    index: 'time',
                    width: 200
                }
            ],
            viewrecords: true,
            rowNum: 20,
            rowList: [20, 50, 100],
            pager: pager_selector,
            autowidth: true,
            caption: "探针信息"
        });
        jQuery("#client_table").jqGrid('sortableRows');
    });
    function add_label(nodeid) {
        bootbox.prompt('请输入备注:', function (label) {
            if (label == "" || label == null) {
                return
            }
            $.ajax({
                url: "/v1/clients",
                type: 'POST',
                data: {
                    label: label,
                    nodeid: nodeid,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (response) {
                    jQuery("#client_table").trigger("reloadGrid");
                }
            });
        });
    }

    var countDown = 20;
    function setTime() {
        if (countDown == 0) {
            jQuery("#client_table").trigger("reloadGrid");
            countDown = 20;
            setTime()
        } else {
            $("#count_down").html(countDown + " 秒后自动刷新");
            countDown --;
            setTimeout("setTime()", 1000);
        }
    }
    function autoReload(flag) {
        if (flag) {
            $('#auto_reload_false').show();
            $('#auto_reload_true').hide();
            setTime();
        } else {
            $('#auto_reload_false').hide();
            $('#auto_reload_true').show();
            window.location.reload();
        }
    }
    function load_node_label() {
        $.ajax({
            url: "/v1/nodes",
            type: 'GET',
            success: function (response) {
                for (var i = 0; i < response.node_ids.length; i++) {
                    var node_info = response.node_ids[i];
                    var label = node_info.label;
                    if (label == "") {
                        label = node_info.node_id;
                    } else {
                        label += ' (' + node_info.node_id + ')';
                    }
                    $('#node_label').append('<option value="' + node_info.node_id + '">' + label + '</optoin>')
                }
            }
        });
    }
    load_node_label();
</script>
</body>
</html>
